{% extends 'base.html' %}
{% block title %}Pretest{% endblock %}

{% block content %}
click on level, populate user vectors, route to article list

<head>
  <style>
  ul { margin-left:20px; color:blue; }
  li { cursor:default; font-size: 14}
  li.active { background:black;color:white; }
  span { color:red; }
  </style>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<script type="text/javascript" src="/path/to/jquery.min.js"></script>
<link type="text/css" rel="stylesheet" href="/path/to/jquery.qtip.css" />

</head>
<body>
<script type="text/javascript" src="/path/to/jquery.qtip.min.js"></script>

<h2>Pick a Level</h2>
<ul>

<li id='1'>Level 1</li><br>

<li id='2'>Level 2</li><br>

<li id='3'>Level 3</li><br>

<li id='4'>Level 4</li><br>

<li id='5'>Level 5</li><br>

<li id='6'>Level 6</li>

</ul>



{% block extra_js %} 
// Functionality for level selection and vector model population


$("#1").click(function() {
  $.post('/learning/populateModel/', {'level': 1});
  alert("Level 1 Selected!");
});

$("#2").click(function() {
  $.post('/learning/populateModel/', {'level': 2});
  alert("Level 2 Selected!");
});

$("#3").click(function() {
  $.post('/learning/populateModel/', {'level': 3});
  alert("Level 3 Selected!");
});

$("#4").click(function() {
  $.post('/learning/populateModel/', {'level': 4});
  alert("Level 4 Selected!");
});

$("#5").click(function() {
  $.post('/learning/populateModel/', {'level': 5});
  alert("Level 5 Selected!");
});

$("#6").click(function() {
  $.post('/learning/populateModel/', {'level': 6});
  alert("Level 6 Selected!");
});





// Functionality for level description display
var text1 = " Designed for learners who can understand and \nuse some simple Chinese characters and sentences to \ncommunicate, and prepares them for continuing their Chinese \nstudies. In HSK 1 all characters are provided along with \nPinyin.";

var text2 = " Designed for learners who can use Chinese in a \nsimple and direct manner, applying it in a basic fashion to \ntheir daily lives. In HSK 2 all characters are provided \nalong with Pinyin as well.";

var text3 = " Designed for learners who can use Chinese to \nserve the demands of their personal lives, studies and work, \nand are capable of completing most of the communicative \ntasks they experience during their Chinese tour.";

var text4 = " Designed for learners who can discuss a \nrelatively wide range of topics in Chinese and are capable \nof communicating with Chinese speakers at a high standard.";

var text5 = " Designed for learners who can read Chinese \nnewspapers and magazines, watch Chinese films and are \ncapable of writing and delivering a lengthy speech in Chinese.";

var text6 = " Designed for learners who can easily understand \nany information communicated in Chinese and are capable of \nsmoothly expressing themselves in written or oral form.";


var textList = [text1, text2, text3, text4, text5, text6];

$('#1').hover(
  function () {
    $(this).append($("<span>" + textList[0] + "</span>"));
  },
  function () {
    $(this).find("span:last").remove();
  }
);

$('#2').hover(
  function () {
    $(this).append($("<span>" + textList[1] + "</span>"));
  },
  function () {
    $(this).find("span:last").remove();
  }
);

$('#3').hover(
  function () {
    $(this).append($("<span>" + textList[2] + "</span>"));
  },
  function () {
    $(this).find("span:last").remove();
  }
);

$('#4').hover(
  function () {
    $(this).append($("<span>" + textList[3] + "</span>"));
  },
  function () {
    $(this).find("span:last").remove();
  }
);

$('#5').hover(
  function () {
    $(this).append($("<span>" + textList[4] + "</span>"));
  },
  function () {
    $(this).find("span:last").remove();
  }
);

$('#6').hover(
  function () {
    $(this).append($("<span>" + textList[5] + "</span>"));
  },
  function () {
    $(this).find("span:last").remove();
  }
);

{% endblock %}
