{% extends 'base.html' %}
{% block title %} {{ article.title }} {% endblock %}

{% block style %} 
body {
  line-height: 200%;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}
div.node {
  display: inline-block;
  overflow: auto;
  padding-right: 0.5%
}
div.node ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
div.node div {
  display: block;
}
div.english {
  color:#fff;
}
{% endblock %}
{% block content %} 
<div id='article'>
</div>
{% endblock %}

{% block extra_js %} 
(function (){
var words;
var article;
var already_translated = {};
var build = function () {
  var article = $('#article')
    for (var i=0; typeof(words[i]) != 'undefined'; i++){
      var node = $('<div>')
        .addClass('node')
        .addClass('word_'+words[i].word_id)
        .attr('id','node_'+i);
      var native = $('<div>')
        .addClass('native')
        .html(words[i].native+' ');
      var english = $('<div>')
        .addClass('english')
        .html(words[i].english+' ');
      ol = $('<ol>');
      node.append(ol);
      ol.append(native);
      ol.append(english);
      native.wrap($('</li>'));
      english.wrap($('</li>'));
      article.append(node);
    }
  $('div.node').click(function(event){
    var node = $(event.target);
    if (!node.hasClass('node')) {
      node = node.parents('div.node')
    }
    var word_id = words[node.attr('id').split('_')[1]].word_id
    var copies = $('div.word_'+word_id).find('div.english');
    copies.animate({'color':'#333'}, 1000)
    if (already_translated[word_id] === 1){
      already_translated[word_id] = 1;
    } else {
      setTimeout(function(){
        copies.animate({'color':'#fff'}, 4000)
      }, 2000);
      already_translated[word_id] = 1;
    }
  });
};
words = {
  {% for node_id, word_id, stem_id, native_text, target_text in phrases %}
  {{node_id}}: {'word_id': '{{word_id}}', 'native':'{{native_text}}', 'english':'{{target_text}}'},
  {% endfor %}
}
build();
})();
{% endblock %}
